/******************************* HEADER **************************************/
header {
  flex-direction: column;
}

/* LE LOGO */
header picture {
  height: 132px;
  padding-left: 0; /* suppression des padding inutiles */
  justify-content: center;
}

header picture img {
  height: 50%;
  width: auto;
}

/* LE MENU */
nav {
  height: 132px;
}

/* LES LIENS */
nav a {
  padding-left: 0; /* suppression des padding inutiles */
  padding-right: 0; /* suppression des padding inutiles */
  width: 50%;
  justify-content: center;

  border-top: 6px solid transparent;
  border-bottom: 6px solid grey;
}

nav a:hover {
  border-top: 6px solid transparent;
  border-bottom: 6px solid #0065fc;
}

/******************************************************************************/
/********************************* MAIN **************************************/
#main_container {
  width: 100%;
}

/******************************* SEARCH *************************************/
#container_search {
  padding-left: 15px;
  padding-right: 15px;
}

#container_search h1 {
  margin-bottom: 18px;
}
#container_search p {
  margin-top: 17px;
  margin-bottom: 40px;
}

form {
  max-width: 100%;
  margin-top: 40px;
}

/* CACHE LA VERSION DESKTOP */
input[value="Rechercher"] {
  display: none;
}

/* SEULEMENT EN VERSION MOBILE */
input[class*="fa-search"] {
  display: block;
}

/***************************************************************************************/
/******************************* SECTION results **************************************/
/****************** VACANCY ******************/

#container_accommodation_results {
  flex-direction: column-reverse;
  column-gap: 0;
}

#container_accommodations {
  width: 100%;
  background-color: white;
}

#container_popular {
  width: 100%;
}

footer {
  flex-direction: column;
  height: 200px;
}

.footer_block {
  height: 100%;
}
