/******************************************************************************/
/********************************* MAIN **************************************/
#main_container {
  width: 100%;
}

/******************************* HEADER **************************************/
header {
  flex-direction: column;
}

/* LE LOGO */
header picture {
  padding-left: 0; /* suppression des padding inutiles */
  justify-content: center;
}

/* LES LIENS */
nav a {
  padding-left: 0; /* suppression des padding inutiles */
  padding-right: 0; /* suppression des padding inutiles */
  width: 50%;
  justify-content: center;

  border-top: 3px solid transparent;
  border-bottom: 3px solid grey;
}

nav a:hover {
  border-top: 3px solid transparent;
  border-bottom: 3px solid #0065fc;
}

/******************************* SEARCH *************************************/
#container_search {
  padding-left: 15px;
  padding-right: 15px;
}

#container_search h1 {
  margin-bottom: 18px;
}
#container_search p {
  margin-top: 17px;
  margin-bottom: 40px;
}

form {
  max-width: 100%;
  margin-top: 40px;
}

/* CACHE LA VERSION DESKTOP */
input[value="Rechercher"] {
  display: none;
}

/* SEULEMENT EN VERSION MOBILE */
input[class*="fa-search"] {
  display: block;
}

/***************************************************************************************/
/******************************* SECTION results **************************************/

/****************** VACANCY ******************/
#vacancy {
  margin-left: 15px;
}

/****************** ACCOMODATION ******************/

#container_accommodation_results {
  gap: 0;
}

#container_popular,
#container_accommodations {
  padding: 0 15px 30px;
  border-radius: 0;
}

#container_accommodations {
  background-color: white;
}

#container_accommodation_cards {
  row-gap: 20px;
}

#container_popular_cards {
  row-gap: 20px;
}

/********** ACCOMODATION CARDS ***********/
.card_acco {
  width: 100%;

  border-radius: 20px;
}

.card_acco img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/********** ACTIVITY ***********/

#container_activity_results {
  padding: 0 15px;
}

#container_activity_cards {
  /* display: block; */
  height: auto;
  row-gap: 20px;
}

.card_activity_full_height,
.card_activity_2,
.card_activity_3,
.card_activity_5,
.card_activity_6 {
  height: 195px;
  border-radius: 20px;
}

/********** FOOTER ***********/

footer {
  flex-direction: column;
  height: 200px;
}

.footer_block {
  height: 100%;
}
