/************************************** BOX SIZING **************************************/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/************************************** GENERAL **************************************/

:root {
  /* identical to the selector html, except that its specificity is higher.*/
  --lightGrey: #f2f2f2;
  --lightBlue: #deebff;
  --darkBlue: #0065fc;
  --cardShadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  --cardShadowBlue: 0 0 10px 2px #0065fc;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a,
li {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 22px;
  margin-top: 30px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

/************************************** LAYOUT **************************************/
#main_container {
  max-width: 1440px;
  width: 95%;

  /* centrer le container */
  margin: 0 auto;
}

/*************************************************************************************/
/************************************** HEADER **************************************/
header {
  display: flex;
  justify-content: space-between;
}

/* LE LOGO */
header picture {
  height: 90px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

header picture img {
  height: 30px;
}

/* LE MENU */
nav {
  height: 90px;
  display: flex;
}

/* LES LIENS */
nav a {
  display: flex;
  align-items: center;
  overflow: hidden;

  padding-left: 3vw;
  padding-right: 3vw;

  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;

  transition: all 0.3s ease;
}

nav a:hover,
nav a:active {
  color: var(--darkBlue);
  border-top: 3px solid var(--darkBlue);
}

/*******************************************************************************/
/********************************* MAIN **************************************/

/******************************* SEARCH *************************************/
form {
  margin-bottom: 20px;

  height: 50px;
  max-width: 440px;

  position: relative;
  top: 1px;
  left: 1px;

  display: flex;

  border: 1px solid var(--lightGrey);
  border-left: transparent;
  border-right: transparent;
  border-radius: 15px;
}

#icon_search {
  height: 50px;
  width: 50px;
  flex-shrink: 0; /* ne se réduit pas */

  position: relative;
  top: -1px;
  left: -1px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--lightGrey);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  cursor: pointer;
}

input[name="city"] {
  width: 100%;

  font-weight: bold;
  padding-left: 15px;

  border: none;
}

input[name="city"]:focus-visible {
  outline: var(--darkBlue) auto 1px;
}

input[type="submit"] {
  height: 50px;
  flex-shrink: 0;

  position: relative;
  top: -1px;
  left: 1px;

  color: white;
  font-weight: bold;
  background-color: var(--darkBlue);

  border: 1px solid var(--darkBlue);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background-color: var(--lightBlue);
  border-color: var(--lightBlue);
  color: var(--darkBlue);
  cursor: pointer;
}

/* SEULEMENT EN VERSION DESKTOP */
input[value="Rechercher"] {
  padding-left: 18px;
  padding-right: 18px;
}

/* CACHE LA VERSION MOBILE */
input[class*="fa-search"] {
  display: none;
}

/**************************************************/
/****************** LES FILTRES ******************/
#container_filters {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  column-gap: 20px;
  row-gap: 15px;
}

#container_filters ul {
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
  row-gap: 15px;
}

#container_filters button {
  padding: 0; /* reset to 0 */
  height: 50px;

  display: flex;
  align-items: center;

  font-weight: bold;
  background-color: white;

  border: 2px solid var(--lightGrey);
  border-left: none;
  border-radius: 25px;

  cursor: pointer;

  transition: all 0.3s ease;
}

#container_filters button:hover {
  background-color: var(--darkBlue);
  color: white;
  border-color: var(--darkBlue);
}

.filter_icon {
  min-width: 50px;
  height: 50px;

  position: relative;
  left: -1px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--lightBlue);
  color: var(--darkBlue);
  border-radius: 50%;
}

.filter_name {
  margin-right: 20px;
  margin-left: 10px;
}

/***************************************************************************************/
/******************************* SECTION results **************************************/

/****************** VACANCY ******************/
#vacancy {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  column-gap: 10px;
}

#vacancy i {
  /* size */
  min-width: 30px;
  height: 30px;
  /* centrer l'icone verticalement et horizontalement */
  display: flex;
  justify-content: center;
  align-items: center;
  /* couleur et bordure */
  color: var(--darkBlue);
  border: 1px solid var(--lightGrey);
  border-radius: 50%;
  font-size: 15px;
}

/******************************** CONTAINERS ****************************************/
#container_accommodation_results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

#container_popular,
#container_accommodations {
  background-color: var(--lightGrey);
  padding: 0 30px 30px;
  border-radius: 25px;
}

#container_accommodations {
  width: 66%;
  display: flex;
  flex-direction: column;
}

#container_popular {
  width: 32%;
}

#container_accommodations > p {
  margin-top: auto;
  font-weight: bold;
}

#container_popular_title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/******************************************** CARDS ********************************************/
#container_accommodation_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  /* column-gap: 30px; */
  row-gap: 30px;
}

/********** ACCOMODATION CARDS ***********/
.card_acco {
  width: 31%;

  display: block;
  background-color: white;
  padding: 5px;
  border-radius: 25px;

  box-shadow: var(--cardShadow);
  transition: all 0.3s ease;
}

.card_acco img {
  height: 120px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  /* Le contenu remplacé est dimensionné pour maintenir son ratio d'affichage 
  tout en remplissant toute la boîte de contenu. */
  object-fit: cover;
  /* Si les ratios de l'objet et de la boîte ne correspondent pas, 
  le contenu remplacé sera rogné. */
}

.card_acco_body {
  padding-left: 5px;

  display: flex;
  flex-direction: column;
}

.card_acco_body h3,
.card_acco_body p,
.card_acco_body span {
  margin: 0 5px 5px;
}

.fa-star {
  font-size: 13px;
  margin-right: -3px;
}

.full_star {
  color: var(--darkBlue);
}

.shade_star {
  color: var(--lightGrey);
}

/********** POPULAR CARDS ***********/
#container_popular_cards {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.card_popular {
  height: 160px;

  display: flex;
  column-gap: 10px;

  background-color: white;
  padding: 5px;
  border-radius: 20px;

  box-shadow: var(--cardShadow);
  transition: all 0.3s ease;
}

.card_popular img {
  height: 100%;
  max-height: 150px;
  width: 127px;
  margin: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  /* Le contenu remplacé est dimensionné pour maintenir son ratio d'affichage 
  tout en remplissant toute la boîte de contenu. */
  object-fit: cover;
  /* Si les ratios de l'objet et de la boîte ne correspondent pas, 
  le contenu remplacé sera rogné. */
}

.card_popular_body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* padding-bottom: 10px; */
  /* padding-bottom: 2%; */
}

.card_popular_body h3 {
  margin: 8% 0 5%;
}

.card_popular_body p {
  margin: 0;
}

.card_popular_body span {
  margin-top: auto;
  margin-bottom: 5%;
}

/******************************** ACTIVITY ****************************************/
#container_activity_results {
  margin-top: 50px;
  margin-bottom: 50px;
}

#container_activity_cards {
  height: 500px;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

  column-gap: 2%;
}

/********** ACTIVITY CARDS ***********/
.card_activity_full_height,
.card_activity_2,
.card_activity_3,
.card_activity_5,
.card_activity_6 {
  width: 23.5%;

  background-color: white;
  border-radius: 25px;

  box-shadow: var(--cardShadow);
  transition: all 0.3s ease;
}

.card_activity_full_height {
  height: 100%;
}

.card_activity_2 {
  height: 53.5%;
}

.card_activity_3 {
  height: 37%;
}

.card_activity_5 {
  height: 44%;
}

.card_activity_6 {
  height: 47%;
}

.card_activity_picture img {
  width: 100%;
  height: calc(100% - 60px);
  object-fit: cover;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card_activity_body h3 {
  margin-left: 20px;
}

.card_acco:hover,
.card_popular:hover,
.card_activity_full_height:hover,
.card_activity_2:hover,
.card_activity_3:hover,
.card_activity_5:hover,
.card_activity_6:hover {
  transform: scale(1.04);
  box-shadow: var(--cardShadowBlue);
}

/******************************** FOOTER ****************************************/

footer {
  background-color: var(--lightGrey);
}

#container-footer {
  max-width: 1440px;
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 20px;
}

.footer-block {
  width: 100%;
}

.footer-block > h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-block ul {
  margin-bottom: 10px;
}

.footer-block ul li {
  padding-bottom: 10px;
}
