/************************************** BOX SIZING **************************************/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/************************************** GENERAL **************************************/
body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a,
li {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 22px;
  margin-top: 30px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

/************************************** LAYOUT **************************************/
#main_container {
  max-width: 1440px;
  width: 95%;

  /* centrer le container */
  margin: 0 auto;
}

/*************************************************************************************/
/************************************** HEADER **************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* LE LOGO */
header picture {
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

header picture img {
  /* hauteur de la moitié du header en hauteur */
  width: 97px;
  height: auto;
}

/* LE MENU */
nav {
  height: 90px;
  display: flex;
  align-items: stretch;
}

/* LES LIENS */
nav a {
  display: flex;
  align-items: center;
  overflow: hidden;

  padding-left: 2vw;
  padding-right: 2vw;

  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;

  transition: all 0.2s ease;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

/*******************************************************************************/
/********************************* MAIN **************************************/

/******************************* SEARCH *************************************/
#container_search h1 {
  margin-top: 30px;
  margin-bottom: 15px;
}
#container_search p {
  margin-top: 15px;
  margin-bottom: 15px;
}

form {
  /* margin-top: 40px; */
  margin-bottom: 40px;

  height: 60px;
  max-width: 440px;

  position: relative;
  top: 1px;
  left: 1px;

  display: flex;

  border: 1px solid #b7b7b7;
  border-left: transparent;
  border-right: transparent;
  border-radius: 15px;
}

#icon_search {
  height: 60px;
  width: 60px;
  flex-shrink: 0;

  position: relative;
  top: -1px;
  left: -1px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #b7b7b7;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  cursor: pointer;
}

input[name="city"] {
  width: 100%;

  font-weight: bold;
  padding-left: 15px;

  border: none;
}

input[type="submit"] {
  height: 60px;
  flex-shrink: 0;

  position: relative;
  top: -1px;
  left: 1px;

  color: white;
  font-weight: bold;
  background-color: #0065fc;

  border: 1px solid #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  /* cursor: pointer; */
}

input[type="submit"]:hover {
  /* filter: brightness(85%); */
  transform: scale(1.05);
}

/* SEULEMENT EN VERSION DESKTOP */
input[value="Rechercher"] {
  padding-left: 18px;
  padding-right: 18px;
}
/* CACHE LA VERSION MOBILE */
input[class*="fa-search"] {
  display: none;

  width: 60px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/**************************************************/
/****************** LES FILTRES ******************/
#container_filters {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  column-gap: 20px;
  row-gap: 15px;
}

#container_filters ul {
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
  row-gap: 15px;
}

#container_filters button {
  padding: 0;
  height: 50px;

  display: flex;
  align-items: center;

  font-weight: bold;
  background-color: white;

  border: 2px solid #b7b7b7;
  border-left: none;
  border-radius: 25px;

  cursor: pointer;
}

#container_filters button:hover {
  background-color: #deebff;
  color: #0065fc;
  transform: scale(1.025);
}

.filter_icon {
  min-width: 50px;
  height: 50px;

  position: relative;
  left: -1px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #deebff;
  color: #0065fc;
  border-radius: 50%;
}

.filter_name {
  margin-right: 20px;
  margin-left: 10px;
}

/***************************************************************************************/
/******************************* SECTION results **************************************/

/******************************** CONTAINERS ****************************************/
#container_accommodation_results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 2vw;
}

#container_results {
  border: 5px solid green;
}

#container_accommodation_results {
  border: 5px solid blue;
}

#container_accommodations {
  border: 5px solid magenta;
  background-color: grey;

  flex-grow: 1;
  flex-basis: 1%; /*minimum size */

  display: flex;

  padding: 30px;
  border-radius: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#container_popular {
  border: 5px solid magenta;
  background-color: grey;

  flex-grow: 0;
  flex-basis: 33.3%;

  padding: 30px;
  border-radius: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#container_accommodation_cards {
  border: 5px solid yellow;

  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  column-gap: 30px;
  row-gap: 30px;
}

#container_popular_cards {
  border: 5px solid yellow;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 30px;
}

/******************************************** CARDS ********************************************/
/********** ACCOMODATION CARDS ***********/
.card_acco {
  flex-grow: 1;
  min-width: 495px;
  height: 400px;

  display: block;
  background-color: white;
  border-radius: 40px;

  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
}

/********** POPULAR CARDS ***********/
.card_popular {
  flex-grow: 1;
  min-width: 670px;
  height: 290px;

  display: block;
  background-color: white;
  border-radius: 40px;

  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
}

/******************************** ACTIVITY ****************************************/
#container_activity_results {
  border: 5px solid magenta;

  display: flex;

  padding: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#container_activity_cards {
  border: 5px solid yellow;
  height: 890px;
  width: 100%;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

  gap: 2%;
}

/********** ACTIVITY CARDS ***********/
.card_activity_full_height {
  height: 890px;

  display: block;
  background-color: white;
  border-radius: 40px;

  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
}

.card_activity_two_third {
  height: 475px;

  display: block;
  background-color: white;
  border-radius: 40px;

  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
}

.card_activity_one_third {
  height: 330px;

  display: block;
  background-color: white;
  border-radius: 40px;

  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
}

.card_activity_half_height {
  height: 390px;

  display: block;
  background-color: white;
  border-radius: 40px;

  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
}

/******************************** FOOTER ****************************************/

footer {
  border: 5px solid red;
  background-color: grey;

  height: 300px;
  display: flex;
}

.footer_block {
  border: 5px solid magenta;

  width: 100%;
}
