/***************************************************************************************/
/******************************* SECTION results **************************************/

/******************************** CONTAINERS ****************************************/
#container_accommodation_results {
  gap: 20px;
}

#container_accommodations {
  width: 100%;

  padding: 0 30px 30px;
}

#container_popular {
  width: 100%;

  padding: 0 30px 30px;
}

/******************************** ACTIVITY ****************************************/

/********** ACTIVITY CARDS ***********/
.card_activity_full_height,
.card_activity_2,
.card_activity_3,
.card_activity_5,
.card_activity_6 {
  height: 47.5%;
}
