/***************************************************************************************/
/******************************* SECTION results **************************************/

/************* ACCOMODATIONS CONTAINERS ***************/
#container-accommodation-results {
  gap: 20px;
}

#container-accommodations {
  width: 100%;

  padding: 0 30px;
}

#container-popular {
  width: 100%;

  padding: 0 30px 30px;
}

#container-accommodations > p {
  margin-top: 30px;
}

/******************************** ACTIVITY ****************************************/

/********** ACTIVITY CARDS ***********/
.card-activity-full-height,
.card-activity-2,
.card-activity-3,
.card-activity-5,
.card-activity-6 {
  height: 47.5%;
  width: 32%;
}
